.container{
    background-color: lawngreen;
    height: 300px;
    /* align-items: center;
    justify-content: space-between;
    flex-direction: column; */
    flex-wrap: wrap;
    display: flex;
}

.box{
    background-color: red;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 1px;
    box-sizing: border-box;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */
}